<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forecast Weather</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="frame">
        <div id="current" class="flex"></div>
      </div>
      <div class="frame">
        <h2 class="margin-0">Daily</h2>
        <div id="daily" class="flex"></div>
      </div>
      <div class="frame">
        <h2 class="margin-0">Hourly</h2>
        <svg
          version="1.2"
          viewBox="0 0 1300 500"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          class="graph"
          id="graph"
        >
          <title id="title">Hourly Temperature</title>
          <g class="labels x-labels" id="x-labels"></g>
          <g class="labels t-labels" id="t-labels"></g>
          <g class="grid y-grid" id="y-grid"></g>
          <g class="labels y-labels"></g>
        </svg>
      </div>
      <div id="daily-detail"></div>
      <script src="/js/app.js" type="module"></script>
    </div>
  </body>
</html>
